### **Importing necessary libraries**

In [93]:
import torch
import pandas as pd
from sklearn.model_selection import train_test_split
from datasets import load_dataset, Dataset
from transformers import T5Tokenizer, T5ForConditionalGeneration, Trainer, TrainingArguments, TrainerCallback

In [72]:
torch.cuda.is_available()

True

In [73]:
dataset = load_dataset("paws","labeled_final")

In [91]:
df = pd.DataFrame(dataset["train"])
df

,id,sentence1,sentence2,label
0,1,"In Paris , in October 1560 , he secretly met t...","In October 1560 , he secretly met with the Eng...",0
1,2,The NBA season of 1975 -- 76 was the 30th seas...,The 1975 -- 76 season of the National Basketba...,1
2,3,"There are also specific discussions , public p...","There are also public discussions , profile sp...",0
3,4,When comparable rates of flow can be maintaine...,The results are high when comparable flow rate...,1
4,5,It is the seat of Zerendi District in Akmola R...,It is the seat of the district of Zerendi in A...,1
...,...,...,...,...
49396,49397,"`` Our school is of spiritual and spiritual , ...",`` Our School is of the Temporal and the Spiri...,0
49397,49398,She was in Cork on June 24 and arrived on 8 Ju...,"She was at Cork on 24 June , and arrived in th...",1
49398,49399,Cornelia Stuyvesant Vanderbilt ( George and Ed...,John John F. A. Cecil ( the only child of Geor...,0
49399,49400,The third season was premiered on 7 June 2010 ...,"The fourth season was premiered on June 7 , 20...",0
49400,49401,It is also from a location on the mainland Los...,It is also known from one location on the main...,0

In [92]:
def preprocess_pows(dataset, label=1):
    df = dataset[dataset['label'] == label].copy()
    
    df["input_text"] = df["sentence1"].apply(lambda x: "paraphrase: " + x)

    df.rename(columns={
        "sentence2": "target_text"
    }, inplace=True)
    
    return df[['input_text', 'target_text']]

df = preprocess_pows(df)

In [90]:
df

,input_text,target_text
1,paraphrase: The NBA season of 1975 -- 76 was t...,The 1975 -- 76 season of the National Basketba...
3,paraphrase: When comparable rates of flow can ...,The results are high when comparable flow rate...
4,paraphrase: It is the seat of Zerendi District...,It is the seat of the district of Zerendi in A...
5,paraphrase: William Henry Henry Harman was bor...,"William Henry Harman was born in Waynesboro , ..."
7,paraphrase: With a discrete amount of probabil...,Given a discrete set of probabilities formula ...
...,...,...
49384,"paraphrase: The Romanesque language , Galician...",The Romance language currently spoken in Galic...
49390,paraphrase: Note that k is a vector consisting...,It is necessary to note that k is a vector con...
49393,paraphrase: Tim Henman won in the final 6 -- 2...,"Tim Tim Henman won 6 -- 2 , 7 -- 6 against Yev..."
49395,paraphrase: He was considered an active member...,He was considered an active member of the Coun...
49397,paraphrase: She was in Cork on June 24 and arr...,"She was at Cork on 24 June , and arrived in th..."

In [95]:
train_df, temp_df = train_test_split(df, train_size=0.7, random_state=42)

val_df, test_df = train_test_split(temp_df, test_size=0.7, random_state=42)

print(f"Training set shape: {train_df.shape}")
print(f"Validation set shape: {val_df.shape}")
print(f"Test set shape: {test_df.shape}")

Training set shape: (15280, 2)
Validation set shape: (1964, 2)
Test set shape: (4585, 2)